@mixin absoluteCentering() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin focusRing() {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px $color-tertiary,
              inset 0px 0px 0px 4px $color-tertiary-light;
}

@mixin whiteBgOnVideo() {
  background-color: rgba($color-white, .8);
  border-radius: 10px;
  box-shadow: 1rem 0 3rem $color-white, -1rem 0 3rem $color-white;
}

/*
  MEDIA QUERY MANAGER
*/
@mixin respond($breakpoint) {
  @if $breakpoint == largest {
    @media only screen and (max-width: 75rem) { @content }; // 1200px /16px
  }

  @if $breakpoint == large {
    @media only screen and (max-width: 62.5rem) { @content }; // 1000px /16px
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 50rem) { @content }; // 800px /16px
  }

  @if $breakpoint == small { 
    @media only screen and (max-width: 37.5rem) { @content }; // 600px /16px
  }

  @if $breakpoint == smallest {
    @media only screen and (max-width: 25rem) { @content }; // 400px /16px
  }
}