@mixin absoluteCentering() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin focusRing() {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px var(--color-secondary-darker),
              inset 0px 0px 0px 4px var(--color-secondary-light);
}

@mixin sectionMargins {
  margin: 4rem 2rem;
}

@mixin whiteBgOnVideo() {
  background-color: rgba($color-white, .94);
  border-radius: 10px;
  $bs-length: .3rem;
  $bs-color: $color-white;
  box-shadow: $box-shadow-dark;
  // box-shadow: #{$bs-length} -#{$bs-length} 2rem $bs-color,
  //   -#{$bs-length} -#{$bs-length} 2rem $bs-color,
  //   #{$bs-length} #{$bs-length} 2rem $bs-color,
  //   -#{$bs-length} #{$bs-length} 2rem $bs-color;
}

/*
  MEDIA QUERY MANAGER
*/
@mixin respond($breakpoint) {
  @if $breakpoint == largest {
    @media only screen and (max-width: 75rem) { @content }; // 1200px /16px
  }

  @if $breakpoint == large {
    @media only screen and (max-width: 62.5rem) { @content }; // 1000px /16px
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 50rem) { @content }; // 800px /16px
  }

  @if $breakpoint == small {
    @media only screen and (max-width: 37.5rem) { @content }; // 600px /16px
  }

  @if $breakpoint == smallest {
    @media only screen and (max-width: 25rem) { @content }; // 400px /16px
  }
}