$color-grey-light-1: #e5e6e4;
$color-grey-light-2: #cfd2cd;
$color-grey-light-3: #ebe9e9;

$color-grey-dark: hsl(0, 0%, 47%);
$color-grey-dark-2: hsl(0, 0%, 60%);
$color-grey-dark-3: hsl(0, 0%, 43%);
$color-grey-dark-4: hsl(0, 1%, 33%);
$color-grey-dark-5: hsl(0, 0%, 25%);

$color-white: #fff;
$color-black: #000;

// DUTCH COLORS
$color-dutch-blue: #21468b;
$color-dutch-white: #fff;
$color-dutch-red: #ae1c28;
$color-dutch-orange: #eb7640;
$color-dutch-orange-dark: darken($color-dutch-orange, 5%);

// FRENCH COLORS
$color-french-blue: #0055a4;
$color-french-white: #fff;
$color-french-red: #ef4135;

// SPANISH COLORS
$color-spanish-red: #aa151b;
$color-spanish-yellow: #f1bf00;

// SWEDISH COLORS
$color-swedish-yellow: #ffce00;
$color-swedish-blue: #00559b;

// BRANDS
$color-twitter: #1da1f2;
$color-linkedin: #0a66c2;
$color-github: #000;

// PROJECT TOPICS
$topic-color: #0366d6;
$topic-background: #f1f8ff;

// FONT
$default-font-size: 1.6rem;

// box shadow
$box-shadow-light: 0 2rem 4rem rgba($color-black, 0.2);
$box-shadow-dark: 0 1rem 4rem rgba($color-black, 0.4);
