.main-content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.scrollable-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  // background-color: $color-grey-light-2;
}