.sidebar {
  background-color: var(--color-secondary);
  flex: 0 0 23rem;
  overflow: auto;
  z-index: 2000;
  border-right: 5px solid var(--color-secondary-light);

  @include respond(medium) {
    display: none;
  }

  box-shadow: .5rem 0 4rem rgba($color-black, .3);
}