.svg-background {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-tertiary-lighter);

  .emoji {
    font-size: 30px;
    // dominant-baseline: middle;
    // text-anchor: middle;
  }
}