.education-entry {
  @include grid-definition;
  grid-template-areas: 
    "date name location"
    ". diploma ."
    ". description .";

  @include respond(largest) {
    grid-template-areas: 
    "date name location"
    ". diploma diploma"
    ". description description";
  }

  @include respond(large) {
    grid-template-areas: 
    "name name"
    "date location"
    "diploma diploma"
    "description description";
  }

  &__date {
    grid-area: date;
    @include main-style;
  }

  &__name {
    grid-area: name;
    @include main-style;
  }

  &__location {
    grid-area: location;
    @include info-style;
    justify-self: end;
  }

  &__diploma {
    grid-area: diploma;
    @include main-sub-style;
  }

  &__description {
    grid-area: description;
    @include description-style;
  }
}