.experience-entry {
  @include grid-definition;
  grid-template-areas:
    'company-name title company-location'
    'duration date .'
    '. description .';

  @include respond(largest) {
    grid-template-areas:
      'company-name title title'
      'duration date company-location'
      '. description description';
  }

  @include respond(large) {
    grid-template-areas:
      'company-name duration'
      'title title'
      'date company-location'
      'description description';
  }

  @include respond(medium) {
    grid-template-areas:
      'company-name'
      'duration'
      'title'
      'date'
      'company-location'
      'description';
  }

  &__date {
    grid-area: date;
    @include main-sub-style;

    @include respond(medium) {
      justify-self: center;
    }
  }

  &__title {
    grid-area: title;
    @include main-style;

    @include respond(medium) {
      justify-self: center;
    }
  }

  &__company-name {
    grid-area: company-name;
    @include main-style;

    @include respond(medium) {
      text-align: center;
    }
  }

  &__company-location {
    grid-area: company-location;
    @include info-style;
    justify-self: end;

    @include respond(medium) {
      justify-self: center;
    }
  }

  &__duration {
    grid-area: duration;
    @include info-style;
    justify-self: start;

    @include respond(large) {
      justify-self: end;
    }

    @include respond(medium) {
      justify-self: center;
    }
  }

  &__description {
    grid-area: description;
    @include description-style;
  }
}

.tools {
  margin: 1rem 0;

  &__list {
    @include list-icon-def;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  &__item {
    @include list-icon-item;
    &:before {
      mask-image: url(/img/wrench.svg);
      -webkit-mask-image: url(/img/wrench.svg);
      margin-top: 0.7rem;
    }
  }
}

.responsibilities {
  margin: 1rem 0;

  &__list {
    @include list-icon-def;
    grid-template-columns: 1fr;
  }

  &__item {
    @include list-icon-item;
    &:before {
      mask-image: url(/img/laptop.svg);
      -webkit-mask-image: url(/img/laptop.svg);
      margin-top: 0.65rem;
    }
  }
}
