@mixin grid-definition {
  display: grid;
  grid-template-columns: 15rem 1fr 20rem;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: .5rem;
  padding: 1rem 0;
}

@mixin info-style {
  font-size: 1.8rem;
  font-weight: 300;
  color: $color-grey-dark-3;
}

@mixin description-style {
  color: $color-grey-dark-3;
  font-size: 1.8rem;
  word-break: break-word;
}

@mixin main-style {
  font-size: 2.2rem;
  color: $color-grey-dark-4;

  &.current {
    color: $color-secondary;
    font-weight: 700;
  }
}

@mixin main-sub-style {
  font-size: 2rem;
  font-style: italic;
  color: $color-grey-dark-3; 
}

@mixin list-icon-def {
  list-style: none;
  padding: 0.2rem 2rem;
  display: grid;
  grid-row-gap: .2rem;
}

@mixin list-icon-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "icon text" ". text";
  grid-column-gap: 1rem;
  align-items: start;

  &:before {
    content: "";
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    background-color: $color-primary-dark;
    mask-size: cover;
    -webkit-mask-size: cover;

    justify-self: center;
    align-self: center;
    grid-area: icon;
  }

  & > span {
    grid-area: text;
  }
}