.about {
  &__figure {
    width: 20rem;
    height: 20rem;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    overflow: hidden;
    padding: 3px;
    float: left;
    margin-right: 2rem;
  }

  &__picture {
    height: 100%;
    transform: scale(1.1);
    transition: all .2s;
    border-radius: 50%;
  }

  &__caption {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all .5s;
  }

  &__figure:hover &__picture {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%);
  }

  &__figure:hover &__caption {
    transform: translate(-50%, -50%);
  }

  &__description {
    font-size: 1.7rem;
  }
}