.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;

  @include respond(medium) {
    padding: 2rem 0 0 0;
  }


  &__figure {
    width: 30rem;
    height: 30rem;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    overflow: hidden;
    padding: 3px;
    margin-bottom: 5rem;
    flex: 0 0 auto;
    border: 5px solid var(--color-primary);
    border-radius: 50%;

    @include respond(medium) {
      width: 25rem;
      height: 25rem;
      margin-bottom: 2rem;
    }
  }

  &__name {
    display: inline-block;
    color: var(--color-tertiary);
    transition: all .5s;

    &:hover {
      transform: scale(1.3) rotate(20deg);
      color: var(--color-primary-light);
    }
  }

  &__picture {
    height: 100%;
    transform: scale(1.1);
    transition: all .2s;
    border-radius: 50%;
  }

  &__caption {
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    transition: all .5s;
  }

  &__figure:hover &__picture {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%);
  }

  &__figure:hover &__caption {
    transform: translate(-50%, -50%);
  }

  &__description {
    font-size: 1.8rem;
    color: $color-grey-dark-4;

    .location {
      margin: .2rem;
    }
  }

  &__text {
    flex: 1;
    min-width: 50rem;
    @include whiteBgOnVideo;
    padding: 1rem 2rem;

    @include respond(medium) {
      min-width: 0;
    }
  }
}