.contact {
  font-size: 2rem;
  margin-top: 7rem;
  @include whiteBgOnVideo;
  padding: 2rem;
  min-width: 31rem;
  @include sectionMargins;
  color: $color-grey-dark-5;
  margin-bottom: 0;

  &__hi {
    margin-bottom: 3rem;
    color: var(--color-secondary);
    font-style: italic;
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &::before {
      content: '';
      display: inline-block;
      mask-size: cover;
      -webkit-mask-size: cover;
      height: 5rem;
      width: 5rem;
      background-color: green;
      margin-right: 2rem;
    }

    &--twitter:before {
      background-color: $color-twitter;
      mask-image: url(/img/twitter.svg);
      -webkit-mask-image: url(/img/twitter.svg);
    }

    &--linkedin:before {
      background-color: $color-linkedin;
      mask-image: url(/img/linkedin.svg);
      -webkit-mask-image: url(/img/linkedin.svg);
    }

    &--github:before {
      background-color: $color-github;
      mask-image: url(/img/github.svg);
      -webkit-mask-image: url(/img/github.svg);
    }

    &--mail:before {
      background-color: var(--color-primary);
      mask-image: url(/img/mail.svg);
      -webkit-mask-image: url(/img/mail.svg);
    }
  }
}
