$card-width: 33rem;

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  justify-items: center;
}


.project {
  &__card {
    box-shadow: $box-shadow-light;
    display: flex;
    flex-direction: column;
    background-color: $color-white;

    border-radius: 10px;
    overflow: hidden;
    transition: all .3s;
    width: $card-width;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-1rem);
        box-shadow: $box-shadow-dark;
      }
    }

  }

  @media (hover: hover) {
    &__card:hover > &__image {
      filter: none;
    }
  }

  &__image {
    width: 100%;
    height: 22rem;
    background-size: cover;
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    @media (hover: hover) {
      filter: brightness(70%);
    }
  }

  &__title {
    width: 80%;
    font-size: 2rem;
    color: $color-white;
    padding: .5rem 1rem;
    display: inline-block;
    text-align: center;
    background-color: $color-secondary;
    align-self: center;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    transform: translateY(-50%);
    border: 3px solid $color-secondary-light;
  }

  &__description {
    height: 15rem;
    padding: 2rem;
    font-size: 1.8rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: rgba($color-tertiary-dark, 0.2);
  }
  &__link:link,
  &__link:visited {
    height: 5rem;
    width: 5rem;
    background-color: $color-secondary;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: all .2s;


    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  @media (hover: hover) {
    &__link:hover {
      background-color: $color-secondary-dark;
      transform: scale(1.15);
    }
  }

  &__link:active {
    background-color: $color-secondary-darker;
  }

  &__link--github {
    -webkit-mask-image: url(/img/github.svg);
    mask-image: url(/img/github.svg);
  }

  &__link--website {
    transform: translateY(.2rem);
    -webkit-mask-image: url(/img/external-link.svg);
    mask-image: url(/img/external-link.svg);
  }
}