*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  // this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  //larger queries before, so the smaller ones apply

  @include respond(large) { // width < 1200 ?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%;
  }
}

body {
  $first-color-height: 15rem;
  background-image: linear-gradient(
    180deg,
    var(--color-primary-dark) 0%,
    var(--color-primary-dark) $first-color-height,
    $color-grey-light-2 $first-color-height
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  padding: 3rem;

  @include respond(largest) {
    padding: 0;
  }
}

::selection {
  background-color: var(--color-primary);
  color: $color-white;
}