body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-1 {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading-2 {
  font-size: 3rem;
  color: $color-grey-dark-3;
}
