:root.coffee {
  --color-secondary: hsl(345, 22%, 42%);
  --color-secondary-light: hsl(346, 22%, 62%);
  --color-secondary-lighter: hsl(346, 22%, 72%);
  --color-secondary-dark: hsl(345, 22%, 32%);
  --color-secondary-darker: hsl(344, 23%, 22%);

  --color-primary-lighter: hsl(25, 34%, 70%);
  --color-primary-light: hsl(25, 34%, 60%);
  --color-primary: hsl(25, 34%, 50%);
  --color-primary-dark: hsl(25, 34%, 30%);
  --color-primary-darker: hsl(25, 34%, 20%);

  --color-tertiary-lighter: hsl(43, 52%, 79%);
  --color-tertiary-light: hsl(43, 52%, 74%);
  --color-tertiary: hsl(42, 52%, 64%);
  --color-tertiary-dark: hsl(42, 52%, 54%);
  --color-tertiary-darker: hsl(42, 52%, 44%);
}