:root {
  --color-primary-light: hsl(194, 100%, 53%);
  --color-primary: hsl(194, 100%, 33%);
  --color-primary-dark: hsl(193, 100%, 23%);
  --color-primary-darker: hsl(194, 100%, 13%);

  --color-secondary: hsl(173, 58%, 39%);
  --color-secondary-light: hsl(173, 58%, 59%);
  --color-secondary-dark: hsl(172, 58%, 29%);
  --color-secondary-darker: hsl(173, 59%, 19%);

  --color-tertiary: hsl(12, 76%, 61%);
  --color-tertiary-lighter: hsl(12, 75%, 91%);
  --color-tertiary-light: hsl(12, 75%, 86%);
  --color-tertiary-dark: hsl(12, 76%, 51%);
  --color-tertiary-darker: hsl(12, 76%, 41%);
}